		</div><!--class:pageContent-->
		<div class="footer padded">
			<div class="text">Sportsko rekreativni centar Milan Gale Muškatirović</div>
			<div class="copyright">&copy; <span id="copyright-year"></span> - Sva prava zadržana.</div>
			<script>
				document.getElementById("copyright-year").innerHTML	=	new Date().getFullYear() + ".";
			</script>
		</div>
	</body>
</html>