<div class="headerNavigation">
	<div class="contentWidth">
		<div class="logoWrap">
			<a href="/"><img src="/logos/logo.png"></a>
		</div>
		<div class="menuWrap">
			<div class="social">
				<div class="contactHeader2" style="">
					<a href="tel:+381111234567" style="color:rgb(255,255,255)">011/1234-567</a> | <a style="color:rgb(255,255,255)" href="mailto:info@25maj.rs">info@25maj.rs</a>
				</div>
				<div class="itemWrap">
					<a href="https://www.facebook.com/bazen25maj/" target="_blank"><img src="/logos/fb.png"></a>
				</div>
				<div class="itemWrap">
					<a href="https://twitter.com/bazen25maj" target="_blank"><img src="/logos/tw.png"></a>
				</div>
				<div class="itemWrap">
					<a href="https://instagram.com/bazen_25maj" target="_blank"><img src="/logos/inst.png"></a>
				</div>
				<div class="itemWrap responsiveMenuHandle" style="background-color:rgba(0,0,0,0)" data-opened="0" onclick="openMenu(this)">
					<img id="menuIcon" src="/icons/menu-closed-yellow.png">
				</div>
				<script>
					function openMenu(elem){
						var menuOpened	=	Number(elem.dataset.opened);
						if(menuOpened==0){
							//open the menu
							document.getElementsByClassName("menu")[0].classList.add("menuOpened")
							document.getElementById("menuIcon").src = "/icons/menu-opened-yellow.png";
							elem.dataset.opened = 1;
						}else{
							//close the menu
							document.getElementsByClassName("menu")[0].classList.remove("menuOpened");
							document.getElementById("menuIcon").src = "/icons/menu-closed-yellow.png";
							elem.dataset.opened = 0;

						}
					}
				</script>
			</div>
			<div class="menu">
				<div class="menuItemWrap">
					<div class="item">Naslovna</div>
					<div class="subMenu">
						<div class="subMenuItem"><a href="/dokumenti">Dokumenti</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/o-nama">O nama</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/javne-nabavke">Javne Nabavke</a></div>
					</div>
				</div>
				<div class="menuItemWrap">
					<div class="item">Besplatni Programi</div>
					<div class="subMenu">
						<div class="subMenuItem"><a href="/besplatni-programi-deca">Deca</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/besplatni-programi-penzioneri">Penzioneri</a></div>
					</div>
				</div>
				<div class="menuItemWrap">
					<div class="item">Komercijalni Programi</div>
					<div class="subMenu">
						<div class="subMenuItem"><a href="/bazeni-na-otvorenom">Bazeni na otvorenom</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/zatvoreni-bazen">Zatvoreni bazen</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/wellness-centar">Wellness Centar</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/sportska-sala">Sportska Sala</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/kombo-paketi">Kombo Paketi</a></div>
						<div class="separator"></div>
						<div class="subMenuItem"><a href="/skolica-plivanja">Školica Plivanja</a></div>
						<div class="separator"></div>
					</div>
				</div>
				<div class="menuItemWrap">
					<div class="item"><a href="/obavestenja">Obaveštenja</a></div>
				</div>
				<div class="menuItemWrap">
					<div class="item"><a href="/">Newsletter</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="headerContact">
	<a href="tel:+381111234567">011/1234-567</a> | <a href="mailto:info@25maj.rs">info@25maj.rs</a>
</div>