<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/otvoreni-bazeni.jpg)"></div>
	<div class="pageFixedTitle">БАЗЕНИ НА ОТВОРЕНОМ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Велики олимпијски базен дубине 2 метра који у потпуности испуњава стандарде светских и европских пливачких федерација и намењен је како рекреативцима тако и организацији домаћих и међународних такмичења.<br>&nbsp;<br>Други базен спада у категорију рекреативних, дубок је 1,20м и опремљен садржајима карактеристичним за аквапаркове. Поседује преливну печурку, три “ластина репа”, хидромасажни зидни гејзир и централни гејзир.</div>
				</div>
				<div class="inline">
					<div class="readingText">Трећи и најмањи базен намењен је деци. Прилагођена дубина до 20цм и гумирана подлога чине га максимално безбедним за најмлађе посетиоце.<br>&nbsp;<br>Поред уобичајених пратећих садржаја – тушева, свлачионица, на отвореним базенима се налази и кафе-бар, док су простори базена и баште кафе-бара снабдевени сунцобранима и лежаљкама.</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<!--<table class="priceTable">
				<tr>
					<td>Дневна карта одрасли - Радни дан</td>
					<td>целодневна</td>
					<td>400,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли - Викенд</td>
					<td>целодневна</td>
					<td>400,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли - Радни дан</td>
					<td>после 16ч</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли - Викенд</td>
					<td>после 16ч</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта деца од 5 до 12 година</td>
					<td>целодневна</td>
					<td>150,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта пензионери</td>
					<td>целодневна</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом</td>
					<td>целодневна</td>
					<td>150,00 дин.</td>
				</tr>
				<tr>
					<td>ПОРОДИЧНА - Родитељи са једним или двоје деце</td>
					<td>целодневна</td>
					<td>800,00 дин.</td>
				</tr>
				<tr>
					<td>Поједниачна карта одрасли</td>
					<td>ноћно купање</td>
					<td>500,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта одрасли</td>
					<td>целодневна</td>
					<td>6 500,00 дин.</td>
				</tr>
				<tr>
					<td>Сезонска карта одрасли</td>
					<td>целодневна</td>
					<td>11 000,00 дин.</td>
				</tr>
				<tr>
					<td>FITPASS</td>
					<td>целодневна</td>
					<td>0,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта одрасли</td>
					<td>целодневна</td>
					<td>6 500,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА ЗА ОДРАСЛЕ</td>
					<td>целодневна</td>
					<td>260,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА ЗА ОДРАСЛЕ</td>
					<td>полудневна</td>
					<td>190,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА ЗА ПЕНЗИОНЕРЕ</td>
					<td>целодневна</td>
					<td>190,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА - ПОРОДИЧНА 2+2</td>
					<td>целодневна</td>
					<td>600,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА - деца од 5 до 12 година</td>
					<td>целодневна</td>
					<td>110,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА ЗА ОДРАСЛЕ целодневна</td>
					<td>викенд</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>ТРИ ПЛУС КАРТИЦА ЗА ОДРАСЛЕ полудневна</td>
					<td>викенд</td>
					<td>220,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли</td>
					<td>целодневна</td>
					<td>310,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли</td>
					<td>полудневна</td>
					<td>220,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS породична 2+2</td>
					<td>целодневна</td>
					<td>720,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS пензионери</td>
					<td>целодневна</td>
					<td>220,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS деца од 5 до 12 година</td>
					<td>целодневна</td>
					<td>130,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли целодневна</td>
					<td>викенд</td>
					<td>360,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли полудневна</td>
					<td>викенд</td>
					<td>270,00 дин.</td>
				</tr>
				<tr>
					<td>Деца млађа од 5 година</td>
					<td>сваки дан</td>
					<td>бесплатно</td>
				</tr>
				<tr>
					<td>Изнајмљивање сунцобрана</td>
					<td>Дневно</td>
					<td>200,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање лежаљке</td>
					<td>Дневно</td>
					<td>200,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање лежаљке испод перголе</td>
					<td>Дневно</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Комплет сунцобран и две лежаљке</td>
					<td>Дневно</td>
					<td>400,00 дин.</td>
				</tr>
				<tr>
					<td>Промоције са промотеркама до 16ч</td>
					<td>радни дан</td>
					<td>2 950,00 дин.</td>
				</tr>
				<tr>
					<td>Промоције са промотеркама до 16ч</td>
					<td>викенд</td>
					<td>4 120,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама до 18ч</td>
					<td>радни дан</td>
					<td>4 120,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама до 18ч</td>
					<td>викенд</td>
					<td>5 300,00 дин.</td>
				</tr>
				<tr>
					<td>Подела рекламних флајера на благајни базена 5000 комада</td>
					<td>дневно</td>
					<td>5 880,00 дин.</td>
				</tr>
				<tr>
					<td>Подела рекламних флајера на благајни базена 10 000 комада</td>
					<td>дневно</td>
					<td>10 600,00 дин.</td>
				</tr>
			</table>-->
			<table class="priceTable">
				<tr>
					<td>Дневна карта одрасли – свим данима</td>
					<td>целодневна</td>
					<td>450,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта одрасли – свим данима</td>
					<td>после 16 часова</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта деца од 5 до 12 година -  свим данима</td>
					<td>целодневна</td>
					<td>200,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта пензионери - свим данима</td>
					<td>целодневна</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта особе са инвалидитетом -  свим данима</td>
					<td>целодневна</td>
					<td>200,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта труднице – свим данима</td>
					<td>целодневна</td>
					<td>350,00 дин.</td>
				</tr>
				<tr>
					<td>Дневна карта труднице – свим данима</td>
					<td>после 16 часова</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Породична карта  ( родитељи са једним или двоје деце до 12 година )</td>
					<td>целодневна</td>
					<td>850,00 дин.</td>
				</tr>
				<tr>
					<td>Појединачна карта - одрасли </td>
					<td>ноћно купање</td>
					<td>500,00 дин.</td>
				</tr>
				<tr>
					<td>Месечна карта – одрасли (30 термина)</td>
					<td>целодневна</td>
					<td>7 000,00 дин.</td>
				</tr>
				<tr>
					<td>Сезонска карта одрасли</td>
					<td>целодневна</td>
					<td>11 000,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли - радни дан</td>
					<td>целодневна</td>
					<td>310,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли - радни дан</td>
					<td>полудневна</td>
					<td>220,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS породична - ( родитељи са једним или двоје деце до 12 година )</td>
					<td>целодневна</td>
					<td>720,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS пензионери - свима данима</td>
					<td>целодневна</td>
					<td>220,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS деца од 5 до 12 година - свим данима</td>
					<td>целодневна</td>
					<td>130,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли - викенд</td>
					<td>целодневна</td>
					<td>360,00 дин.</td>
				</tr>
				<tr>
					<td>CITY PASS одрасли - викенд</td>
					<td>полудневна</td>
					<td>270,00 дин.</td>
				</tr>
				<tr>
					<td>Деца млађа од 5 година</td>
					<td>бесплатно</td>
					<td>бесплатно</td>
				</tr>
				<tr>
					<td>Изнајмљивање сунцобрана </td>
					<td>дневно</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање лежаљке </td>
					<td>дневно</td>
					<td>250,00 дин.</td>
				</tr>
				<tr>
					<td>Изнајмљивање лежаљке испод перголе </td>
					<td>дневно</td>
					<td>300,00 дин.</td>
				</tr>
				<tr>
					<td>Комплет сунцобран и две лежаљке </td>
					<td>дневно</td>
					<td>500,00 дин.</td>
				</tr>
				<tr>
					<td>Промоције са промотеркама радним даном  до 16.00 ч</td>
					<td>радни дан</td>
					<td>4.000,00 дин.</td>
				</tr>
				<tr>
					<td>Промоције са промотеркама викендом до 16.00 ч</td>
					<td>викенд</td>
					<td>5 000,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама радним даном до 18.00 ч</td>
					<td>радни дан</td>
					<td>5 000,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама викендом до 18.00 ч</td>
					<td>викенд</td>
					<td>6 000,00 дин.</td>
				</tr>
				<tr>
					<td>Подела рекламних флајера на благајни базена  до 5000 комада</td>
					<td>дневно</td>
					<td>5 880,00 дин.</td>
				</tr>
				<tr>
					<td>Подела рекламних флајера на благајни базена 10 000 комада</td>
					<td>дневно</td>
					<td>10 600,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама (плато – «дунавска страна) од 07.00 до 19.00 ч</td>
					<td>радни дан </td>
					<td>10 000,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама (плато - «дунавска страна) од 07.00 до 19.00 ч</td>
					<td>викенд</td>
					<td>12 000,00 дин.</td>
				</tr>
				<tr>
					<td>Постављање промо пулта са промотеркама (плато- «дунавска страна) </td>
					<td>месечно</td>
					<td>270 000,00 дин.</td>
				</tr>
			</table>
		</div>
	</div>



<%- include ("partials/footer") -%>