<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/otvoreni-bazen.png)"></div>
	<div class="pageFixedTitle">BAZENI NA OTVORENOM</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Veliki olimpijski bazen dubine 2 metra koji u potpunosti ispunjava standarde svetskih i evropskih plivačkih federacija i namenjen je kako rekreativcima tako i organizaciji domaćih i međunarodnih takmičenja.<br>&nbsp;<br>Drugi bazen spada u kategoriju rekreativnih, dubok je 1,20m i opremljen sadržajima karakterističnim za akvaparkove. Poseduje prelivnu pečurku, tri “lastina repa”, hidromasažni zidni gejzir i centralni gejzir.</div>
				</div>
				<div class="inline">
					<div class="readingText">Treći i najmanji bazen namenjen je deci. Prilagođena dubina do 20cm i gumirana podloga čine ga maksimalno bezbednim za najmlađe posetioce.<br>&nbsp;<br>Pored uobičajenih pratećih sadržaja – tuševa, svlačionica, na otvorenim bazenima se nalazi i kafe-bar, dok su prostori bazena i bašte kafe-bara snabdeveni suncobranima i ležaljkama.</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">CENOVNIK</div>
			<table class="priceTable">
				<tr>
					<td>Dnevna karta odrasli - Radni Dan</td>
					<td>celodnevna</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Vikend</td>
					<td>celodnevna</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Radni Dan</td>
					<td>posle 16h</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Vikend</td>
					<td>posle 16h</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Radni Dan</td>
					<td>celodnevna</td>
					<td>400,00 din.</td>
				</tr>
			</table>
		</div>
	</div>



<%- include ("partials/footer") -%>