<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/otvoreni-bazen.png)"></div>
	<div class="pageFixedTitle">БАЗЕНИ НА ОТВОРЕНОМ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Велики олимпијски базен дубине 2 метра који у потпуности испуњава стандарде светских и европских пливачких федерација и намењен је како рекреативцима тако и организацији домаћих и међународних такмичења.<br>&nbsp;<br>Други базен спада у категорију рекреативних, дубок је 1,20м и опремљен садржајима карактеристичним за аквапаркове. Поседује преливну печурку, три “ластина репа”, хидромасажни зидни гејзир и централни гејзир.</div>
				</div>
				<div class="inline">
					<div class="readingText">Трећи и најмањи базен намењен је деци. Прилагођена дубина до 20цм и гумирана подлога чине га максимално безбедним за најмлађе посетиоце.<br>&nbsp;<br>Поред уобичајених пратећих садржаја – тушева, свлачионица, на отвореним базенима се налази и кафе-бар, док су простори базена и баште кафе-бара снабдевени сунцобранима и лежаљкама.</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Dnevna karta odrasli - Radni Dan</td>
					<td>celodnevna</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Vikend</td>
					<td>celodnevna</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Radni Dan</td>
					<td>posle 16h</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Vikend</td>
					<td>posle 16h</td>
					<td>400,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta odrasli - Radni Dan</td>
					<td>celodnevna</td>
					<td>400,00 din.</td>
				</tr>
			</table>
		</div>
	</div>



<%- include ("partials/footer") -%>