<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/penzioneri.png)"></div>
	<div class="pageFixedTitle">BESPLATNI PROGRAMI ZA PENZIONERE</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="contentWidth">
			<div class="textByImage">
				<div class="textWrap">
					<div class="content">
						<div class="title">
							PLIVANJE ZA PENZIONERE
						</div>
						<div class="text">
							Pripadnici starije populacije sa teritorije Gradske opštine Stari grad, uz personalizovanu karticu <span class="boldBlue">"Stari grad misli na tebe"</span>, mogu besplatno koristiti bazen za rekreativno plivanje.<br>&nbsp;<br>Izdavanje kartice "Stari grad misli na tebe" i prijava za besplatni program plivanja za seniore vrši se u <span class="boldBlue">Uslužnom centru</span> Gradske opštine Stari grad, u zgradi opštine (ulaz iz Nušićeve ulice). Više informacija možete dobiti u Uslužnom centru ili pozivom na broj <span class="boldBlue"><a href="tel:+381800077775">0800 07 77 75</a></span>.
						</div>
					</div>
					
				</div>
				<div class="imageWrap">
					<div class="image">
						<table class="terminiTable">
							<tr>
								<td>Ponedeljak</td>
								<td>Sreda</td>
								<td>Petak</td>
							</tr>
							<tr>
								<td>12:00 - 13:30</td>
								<td>12:00 - 13:30</td>
								<td>12:00 - 13:30</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="textByImage">
				<div class="imageWrap">
					<div class="image">
						<img style="border:2px solid rgb(47,78,176)" src="/images/penzioneri-joga.jpg">
					</div>
				</div>
				<div class="textWrap">
					<div class="content">
						<div class="title">
							Joga za penzionere - TRENUTNO NIJE DOSTUPNO
						</div>
						<div class="text">
							Utorkom i četvrtkom u terminima od 10 do 12 časova penzioneri mogu pohađati besplatne časove joge koji imaju pozitivno delovanje na fizičko i mentalno stanje i povećanje životne energije. 
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="section white padded">
		<div class="contentWidth">
			<div class="textByImage">
				<div class="textWrap">
					<div class="content">
						<div class="title">
							Kardio fitnes - TRENUTNO NIJE DOSTUPNO
						</div>
						<div class="text">
							Ponedeljak, sreda i petak od 10 do 12 časova rezervisani su za kardio fitnes. Ovaj program je pažljivo osmišljen i prilagođen starijoj populaciji koja često nije u mogućnosti da priušti sebi izdatke za ovakvu vrstu aktivnosti.
						</div>
					</div>
					
				</div>
				<div class="imageWrap">
					<div class="image">
						<div class="image">
							<img style="border:2px solid rgb(47,78,176)" src="/images/penzioneri-kardio.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



<%- include ("partials/footer") -%>