<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/kombo.jpg)"></div>
	<div class="pageFixedTitle">КОМБО ПАКЕТИ</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="smallContent" style="text-align: center;">
			За потпуну рекреацију и релаксацију осмишљени су КОМБО пакети. Овај тип улазница вам омогућава приступ олимпијском базену, саунском блоку и теретани, у терминима које покрива пакет за који сте се одлучили.
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Zakup sale 1 sat, radnim danima od 08:00 do 12:00</td>
					<td>3 200,00 din.</td>
				</tr>
				<tr>
					<td>Zakup sale 1 sat, radnim danima od 12:00 do 15:00 i nakon 23:00</td>
					<td>2 500,00 din.</td>
				</tr>
				<tr>
					<td>Zakup sale 1 sat, radnim danima od 15:00 do 23:00 i vikendom od 08:00 - 22:00</td>
					<td>4 500,00 din.</td>
				</tr>
				<tr>
					<td>Zakup sale 1 sat, subvencionisana cena</td>
					<td>900,00 din.</td>
				</tr>
				<tr>
					<td>Zakup sale 1 sat, termin za škole</td>
					<td>3 165,00 din.</td>
				</tr>
				<tr>
					<td>Zakup sale 1 sat, vikendom od 22:00</td>
					<td>2 500,00 din.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>