<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/homeHeader.jpg)"></div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	<div class="section padded white">
		<div class="contentWidth">
			<div class="obavestenja">
				
			</div>
			<script>
				
			</script>
		</div>
	</div>



<%- include ("partials/footer") -%>