<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/skolica.jpeg)"></div>
	<div class="pageFixedTitle">ŠKOLICA PLIVANJA</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white padded">
		<div class="smallContent" style="text-align: center;">
			"Skolica plivanja 25. maj" namenjena je deci uzrasta od 5 do 14 godina.<br>&nbsp;<br>Časovi plivanja održavaju se na malom bazenu (za neplivače), na kome temperatura vode iznosi 30°C.<br>&nbsp;<br>
		</div>
		<div class="smallContent" style="text-align: left">
			<div class="listTitle">Dimenzije bazena</div>
			<ul class="list">
				<li><p>dužina - 12m</p></li>
				<li><p>širina - 8m</p></li>
				<li><p>dubina - 1,30m - 1,55m</p></li>
				<li><p>plato za obuku neplivača - 0,55m</p></li>
			</ul>
		</div>
	</div>

	<div class="section">
		<div class="topFade"></div>
		<div class="bottomFade"></div>
		<div class="imageBackground padded" style="background-image: url(/images/voda.jpg);">
			<div class="smallContent padded">
				<div class="whiteBoxTransparent">
					<div class="readingText">
						Škola startuje 5. oktobra 2020. godine i održavaće se u sledećim terminima:<br>ponedeljak, sreda i petak<br>Prepodne 09-10h<br>Popodne 17-18h
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">CENOVNIK</div>
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">
						Mesečna članarina (tri termina nedeljno) iznosi:<br>1. za jedno dete 5.000 dinara<br>2. za dvoje i više dece iz iste porodice odobrava se popust u iznosu od 2.000 dinara (mesečna cena članarine za drugo i svako naredno dete iz iste porodice iznosi 3000 dinara)
					</div>
				</div>
				<div class="inline">
					<div class="readingText">
						Mesečna članarina (dva termina nedeljno) iznosi:<br>1. za jedno dete 4.000 dinara<br>2. za dvoje i više dece iz iste porodice odobrava se popust u iznosu od 2.000 dinara (mesečna cena članarine za drugo i svako naredno dete iz iste porodice iznosi 2000 dinara)

					</div>
				</div>
			</div>
		</div>
	</div>


<%- include ("partials/footer") -%>