<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/welness.jpeg)"></div>
	<div class="pageFixedTitle" style="top:500px;">WELLNESS CENTAR</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">U sklopu wellness centra nalaze se: saunski blok sa jednom ruskom (sauna sa vlažnim vazduhom),  jednom finskom (sauna sa suvim vazduhom) i jednom infracrvenom saunom, zatim tepidarijum, tuševi i mali bazen dimenzija 12 x 8 metara namenjen rashlađivanju nakon i između saunskih sesija. Saunski blok dostupan je besplatno za decu do 4 godine.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Radno vreme Wellness Centra:</div>
						<table class="terminiTable">
							<tr>
								<td>Radni Dan</td>
								<td>Vikend</td>
							</tr>
							<tr>
								<td>18:00 - 22:00</td>
								<td>14:00 - 22:00</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">CENOVNIK</div>
			<table class="priceTable">
				<tr>
					<td>Spa premium - Mesečna karta za saunu i mali bazen - 30 termina</td>
					<td>svim danima</td>
					<td>6 500,00 din.</td>
				</tr>
				<tr>
					<td>Spa plus - Mesečna karta za saunu i mali bazen - samo radnim danima</td>
					<td>radnim danima</td>
					<td>5 000,00 din.</td>
				</tr>
				<tr>
					<td>Spa economy - Mesečna karta za saunu i mali bazen - samo vikendom</td>
					<td>vikendom</td>
					<td>4 500,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta za saunu i mali bazen - radnim danima</td>
					<td>radnim danima</td>
					<td>1 000,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta za saunu i mali bazen - vikendom</td>
					<td>vikendom</td>
					<td>1 000,00 din.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>