<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/welness.jpeg)"></div>
	<div class="pageFixedTitle" style="top:500px;"><i>WELLNESS</i> ЦЕНТАР</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">У склопу њеллнесс центра налазе се: саунски блок са једном руском (сауна са влажним ваздухом),  једном финском (сауна са сувим ваздухом) и једном инфрацрвеном сауном, затим тепидаријум, тушеви и мали базен димензија 12 џ 8 метара намењен расхлађивању након и између саунских сесија. Саунски блок доступан је бесплатно за децу до 4 године.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Радно Време <i>Wellness</i> Центра:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Викенд</td>
							</tr>
							<tr>
								<td>18:00 - 22:00</td>
								<td>14:00 - 22:00</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section grey padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Spa premium - Mesečna karta za saunu i mali bazen - 30 termina</td>
					<td>svim danima</td>
					<td>6 500,00 din.</td>
				</tr>
				<tr>
					<td>Spa plus - Mesečna karta za saunu i mali bazen - samo radnim danima</td>
					<td>radnim danima</td>
					<td>5 000,00 din.</td>
				</tr>
				<tr>
					<td>Spa economy - Mesečna karta za saunu i mali bazen - samo vikendom</td>
					<td>vikendom</td>
					<td>4 500,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta za saunu i mali bazen - radnim danima</td>
					<td>radnim danima</td>
					<td>1 000,00 din.</td>
				</tr>
				<tr>
					<td>Dnevna karta za saunu i mali bazen - vikendom</td>
					<td>vikendom</td>
					<td>1 000,00 din.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>