<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/zatvoreni-bazen.png)"></div>
	<div class="pageFixedTitle">ZATVORENI BAZEN</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Dužine 50, širine 21 i dubine 2,1 metar, sa temperaturom od 26 stepeni u proseku, i ovaj bazen u celosti zadovoljava olimpijske standarde. Temperatura vazduha u dvorani održava se najsavremenijom klimatizacijom.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Građani mogu koristiti zatvoreni bazen u sledećim terminima:</div>
						<table class="terminiTable">
							<tr>
								<td>Radni Dan</td>
								<td>Subota</td>
								<td>Nedelja</td>
							</tr>
							<tr>
								<td>06:15 - 08:00</td>
								<td>14:00 - 16:00</td>
								<td>22:15 - 23:30</td>
							</tr>
							<tr>
								<td>06:15 - 08:00</td>
								<td>13:00 - 15:00</td>
								<td>21:00 - 23:00</td>
							</tr>
							<tr>
								<td>13:00 - 15:00</td>
								<td>21:00 - 23:00</td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="topFade"></div>
		<div class="bottomFade"></div>
		<div class="imageBackground padded" style="background-image: url(/images/voda.jpg);">
			<div class="smallContent padded">
				<div class="whiteBoxTransparent">
					<div class="readingText">
						PRILIKOM KORIŠĆENJA ZATVORENOG BAZENA OBAVEZNO JE NOŠENJE ZAŠTITNE KAPICE ZA PLIVANJE! <br>Korisnici koji ne poseduju kapice, mogu ih kupiti uz dnevne karte.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section white padded">
		<div class="contentWidth">
			<div class="sectionTitle">CENOVNIK</div>
			<table class="priceTable">
				<tr>
					<td>Zakup zatvorenog bazena - 1h koriscenja ceo bazen</td>
					<td>svakim danom</td>
					<td>16 000,00 din.</td>
				</tr>
				<tr>
					<td>Zakup zatvorenog bazena - 1h koriscenja pola bazena</td>
					<td>svakim danom</td>
					<td>9 000,00 din.</td>
				</tr>
				<tr>
					<td>Zakup zatvorenog bazena - 1h koriscenja četvrtina bazena</td>
					<td>svakim danom</td>
					<td>5 000,00 din.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>