<%- include ("partials/header") -%>
	<div class="pageHeaderFixed" style="background-image: url(/images/zatvoreni-bazen.png)"></div>
	<div class="pageFixedTitle">ЗАТВОРЕНИ БАЗЕН</div>
	<div class="pageHeaderSpace"></div>
	<div class="bellowFixedHeader"></div>
	
	<div class="section white">
		<div class="contentWidth">
			<div class="sideBySideText">
				<div class="inline">
					<div class="readingText">Дужине 50, ширине 21 и дубине 2,1 метар, са температуром од 26 степени у просеку, и овај базен у целости задовољава олимпијске стандарде. Температура ваздуха у дворани одржава се најсавременијом климатизацијом.</div>
				</div>
				<div class="inline">
					<div class="readingText">
						<div>Грађани могу користити затворени базен у следећим терминима:</div>
						<table class="terminiTable">
							<tr>
								<td>Радни Дан</td>
								<td>Субота</td>
								<td>Недеља</td>
							</tr>
							<tr>
								<td>06:15 - 08:00</td>
								<td>14:00 - 16:00</td>
								<td>22:15 - 23:30</td>
							</tr>
							<tr>
								<td>06:15 - 08:00</td>
								<td>13:00 - 15:00</td>
								<td>21:00 - 23:00</td>
							</tr>
							<tr>
								<td>13:00 - 15:00</td>
								<td>21:00 - 23:00</td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="topFade"></div>
		<div class="bottomFade"></div>
		<div class="imageBackground padded" style="background-image: url(/images/voda.jpg);">
			<div class="smallContent padded">
				<div class="whiteBoxTransparent">
					<div class="readingText">
						ПРИЛИКОМ КОРИШЋЕЊА ЗАТВОРЕНОГ БАЗЕНА ОБАВЕЗНО ЈЕ НОШЕЊЕ ЗАШТИТНЕ КАПИЦЕ ЗА ПЛИВАЊЕ! <br>Корисници који не поседују капице, могу их купити уз дневне карте.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section white padded">
		<div class="contentWidth">
			<div class="sectionTitle">ЦЕНОВНИК</div>
			<table class="priceTable">
				<tr>
					<td>Zakup zatvorenog bazena - 1h koriscenja ceo bazen</td>
					<td>svakim danom</td>
					<td>16 000,00 din.</td>
				</tr>
				<tr>
					<td>Zakup zatvorenog bazena - 1h koriscenja pola bazena</td>
					<td>svakim danom</td>
					<td>9 000,00 din.</td>
				</tr>
				<tr>
					<td>Zakup zatvorenog bazena - 1h koriscenja četvrtina bazena</td>
					<td>svakim danom</td>
					<td>5 000,00 din.</td>
				</tr>
			</table>
		</div>
	</div>


<%- include ("partials/footer") -%>